<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  
  <appSettings>
    <!--<add key="TestAPNToken" value="1C31D453A5DBBCB8ADAADAA3B7417E8B14475CCEEC1B1C1920A476013BD00C81"/>-->
    <!--<add key="TestAPNToken" value="D408DECD5BFE7D251CF17580615E2612587BB15D72EA59348147F9E344E4C7AC"/>-->
    <add key="TestAPNToken" value="8ab302cdee952640faae8afb1a9f3f22572825a64e16acf2661469b570b3edf9"/>
    <add key="TestAPNUdid" value="391662dda96768962c83fc5b9312fa32f5b1a0f8"/>
    <!-- APN Sandbox Server-->
    <!-- APN Production Server-->
    <add key="APNServiceHost" value="gateway.push.apple.com"/>
    <add key="APNServicePort" value="2195"/>
    <add key="iPhoneAPNSSLCertPath" value="C:\Projects\Webling\AirService\AirService.Tests\apn_production_iphone.p12"/>
    <add key="iPhoneAPNSSLCertPassword" value="brendtsheen"/>
    <add key="iPadAPNSSLCertPath" value="C:\Projects\Webling\AirService\AirService.Tests\airservice-ipad-apn-production.p12"/>
    <add key="iPadAPNSSLCertPathPassword" value="password"/>
    <add key="ValidateEntityModels" value="true" />
  </appSettings> 
  <connectionStrings>
    <add name="AirService" connectionString="Data Source=.;AttachDbFilename=C:\Projects\Webling\mssql\AirService.mdf; Initial Catalog=C:\Projects\Webling\mssql\AirService.mdf; Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=.;AttachDbFilename=C:\Projects\Webling\mssql\AirService.mdf;Initial Catalog=C:\Projects\Webling\mssql\AirService.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>
