<h2>
    Menu</h2>
<ul>
    <li>
        <h3>@this.Html.ActionLink("If you are developing/testing iPad App, Click here", "Index", "iPadTest")</h3>
    </li>
    <li>
        <h3>@this.Html.ActionLink("If you are developing/testing iPhone App, Click here", "Index", "iPhoneTest")
        </h3>
    </li>
</ul>
