@{
    ViewBag.Title = "AirService - Home";
}
@section headerSection{
    <link rel="stylesheet" type="text/css" href="Content/homepage.css">
}
@section footerSection{
    <script src="Scripts/jquery.easing.min.js"></script>
    <script src="Scripts/supersized.3.2.5.min.js"></script>
    <script src="Scripts/supersized.shutter.min.js"></script>
    <script src="Scripts/jcarousellite_1.0.1.min.js"></script>
    <script src="Scripts/homepage.js"></script>
}
<div id="homeWrapper">
    <div id="homePanelContainer">
        <div id="homeContent" class="clearfix">
            <div class="slides-container">
                <ul>
                    <li>
                        <div class="slide">
                            <h1>
                                Introducing...</h1>
                            <p>
                                AirService allows you to use your iPhone or iPad in place of a regular menu. Simply
                                connect to the venue, and order through the app. It really is that simple.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat iphone" src="Content/images/common/vegas_app_screen.png" alt="Introducing AirService" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1>
                                In hotels</h1>
                            <p>
                                Order your breakfast...
                                <br />
                                from your bed.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat iphone" src="Content/images/common/hotel_app_screen.png" alt="Order your breakfast from your bed" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1 class="ipad-content">
                                A visual feast</h1>
                            <p class="ipad-content">
                                See what's on offer, like never before.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat ipad" src="Content/images/common/photos_app_screen.png" alt="See what's on offer, like never before" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1 class="ipad-content">
                                Abroad</h1>
                            <p class="ipad-content">
                                Feel at home ordering in any foreign land.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat ipad" src="Content/images/common/holiday_app_screen.png" alt="Feel at home ordering in any foreign land" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1>
                                Perfect timing</h1>
                            <p>
                                Set a delivery time on your order to make it that little bit more special.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat iphone" src="Content/images/common/timed_app_screen.png" alt="Timed deliveries" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1>
                                Yes please</h1>
                            <p>
                                Order another round with just one touch.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat iphone" src="Content/images/common/beer_app_screen.png" alt="Order a round" />
                        </div>
                        <!-- .slide -->
                    </li>
                    <li>
                        <div class="slide">
                            <h1>
                                At the bar</h1>
                            <p>
                                Never queue for drinks again.</p>
                            <a href="http://www.getairservice.com" class="btn">www.getairservice.com</a>
                            <img class="app-feat iphone" src="Content/images/common/bar_app_screen.png" alt="Never queue for drinks again" />
                        </div>
                        <!-- .slide -->
                    </li>
                </ul>
            </div>
            <!-- .slides-container -->
            <!--Arrow Navigation-->
            <a id="prevslide" class="load-item"></a><a id="nextslide" class="load-item"></a>
        </div>
        <!-- #homeContent -->
    </div>
    <!-- #homePanelContainer -->
</div>
