<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      --><!--<add initializeData="C:\bjm\Source\AirService\AirService.Tests\WebServices\TestApp\Log\tracelog.svclog"--><!-- 		
      <add initializeData="C:\Projects\Webling\AirService\AirService.Tests\WebServices\TestApp\Log\tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="xml" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <connectionStrings>
    <!--<add name="AirService" connectionString="Data Source=.;AttachDbFilename=||||.mdf; Initial Catalog=||||; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=.;AttachDbFilename=||||.mdf;Initial Catalog=||||;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="AirService" connectionString="Data Source=.;AttachDbFilename=C:\Projects\Webling\mssql\AirService.mdf; Initial Catalog=C:\Projects\Webling\mssql\AirService.mdf; Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=.;AttachDbFilename=C:\Projects\Webling\mssql\AirService.mdf;Initial Catalog=C:\Projects\Webling\mssql\AirService.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="profileImageFolder" value="~/ProfileImages"/>
    <add key="MemoryCacheCacheDirectory" value="C:\Projects\Webling\AirService\AirService.Tests\WebServices\TestApp"/>
    <add key="EmailTemplatePath" value="C:\Projects\Webling\AirService\AirService.Web\Content\EmailTemplates"/>
    <add key="venueBroadcastMessageLimit" value="2"/>
    <!--Broadcast time limit duratin in minutes -->
    <add key="venueBroadcastMessageTimeLimit" value="60"/>
    <add key="EnableLocationSearchLog" value="true"/>
    <add key="ValidateEntityModels" value="true" />
  </appSettings> 
  <system.web>
    <httpRuntime executionTimeout="1000000"/>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="C#">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="AirService" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="AirService" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="AirService" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="AirService" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization principalPermissionMode="Custom" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
