@model AirService.Web.ViewModels.ForgottenPasswordModel
@{
    ViewBag.Title = "Forgotten Password";
}
<section id="main">
    <section id="main-content" class="clearfix">
        <h2>
            Forgotten your password?</h2>
        <div class="simple-form simple-form-wide">
            <p>
                Type your e-mail address below to get your password sent to you via email.
            </p>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div>
                    <fieldset>
                        <legend></legend>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.EmailAddress)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.EmailAddress)
                        </div>
                        <p>
                            <input type="submit" value="Submit" class="go" />
                        </p>
                    </fieldset>
                </div>
            }
        </div>
    </section>
</section>