@model AirService.Model.CreditCard
<section id="main">
    <section id="main-content" class="clearfix">
        <h2>
            Confirm Credit Card</h2>
        <div>
            <div class="detail-form-small detail-form">
                @using (this.Html.BeginForm("ConfirmPaymentDetail", "Account"))
                {
                    @this.Html.ValidationSummary(false)
                    @this.Html.Partial("_CreditCardDetail", this.Model)

                    <div class="clearfix">
                    </div>
                    <input type="hidden" name="VenueId" value="@ViewBag.VenueId" />
                    <input type="hidden" name="Email" value="@ViewBag.Email" />
                    <input type="submit" />
                }
            </div>
        </div>
        <aside>
            <ul>
                <li class="first">
                    <h4>
                        Questions?</h4>
                    <p>
                        Our most common questions are all answered on our <a href="/home/page/faq-venues">FAQ’s
                            page</a></p>
                </li>
                <li>
                    <h4>
                        Get social</h4>
                    <ul class="social">
                        <li class="facebook">Show some love and 'like' us on <a href="http://www.facebook.com/getairservice"
                            target="_blank">Facebook</a>.</li>
                        <li class="twitter"><a href="http://www.twitter.com/getairservice" target="_blank">Follow
                            us on Twitter</a> for up to the second updates.</li>
                    </ul>
                </li>
                <li class="trial">
                    <h4>
                        Happiness Guarantee</h4>
                    <p>
                        If at any time during the first three months of your subscription you find AirService
                        isn't working for you, we'll refund all your monthly subscriptions fees, no questions
                        asked.</p>
                </li>
            </ul>
        </aside>
    </section>
</section>